<div class="section" id="banner1">
    <div class="container">
        <h1 class="banner-title title">Cory Vaughan</h1>
        <h5 class="subtitle">A modern software engineer built from a Georgia Southern University education, The Iron Yard training... but mostly Google.</h5>
    </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="icon-section level">
        <div class="icon-block">
          <i class="material-icons flash">flash_on</i>
          <h2 >Efficient development</h2>

          <p >Helping companies push production code fast and efficiently while keeping it clean and concise.</p>
        </div>

        <div class="icon-block">
          <i class="material-icons user-exp">thumbs_up_down</i>
          <h2 >UX Focused</h2>

          <p >Utilizing the best aspects of agile and waterfall methodologies while maintaining industry best practices to keep designs up-to-date. </p>
        </div>

        <div class="icon-block">
          <i class="material-icons group">group</i>
          <h2 >Team player</h2>

          <p >
              Collaborating with teammates to create functional and custom web applications.</p>
        </div>
    </div>

  </div>
</div>


<div class="section" id="banner2">
    <div class="container">
        <h4 class="banner-title">Artfully connecting users to the endless resources of the Interweb</h4>
    </div>
</div>

<div class="container">
  <div class="section">
      <div class="about-me">
        <h4 class="title">About Me</h4>
        <p>After graduating Georgia Southern University, I began my career working for a startup REIT (real estate investment trust) where I spent most of my time writing ad copy, taking photographs, and collecting data for marketing meetings. This lead me into the world of freelancing where I spent the next year as a real estate photographer. I began my journey into programming shortly after, and with the help of my old college textbooks and online courses I was getting up to speed. I enjoyed the thrill of solving problems through code so I decided to take the next step in my development. I completed Codecademy's Ready program, which was a 6-week online bootcamp, that taught me more of the basics, but I needed more "real world" experience. I then enrolled in The Iron Yard's 12-week Front End Development program. I was exposed to the world of web development and engineering, and now I'm looking to continue down this exciting path and into the future of web development.</p><br>
        <p>
            For more information about what drives me as a developer please take a look at this interview I had with the folks at 3Ci.
            <a class="button is-primary" href="https://vimeo.com/user50363031/review/227944429/52a084c3d7">
                Video Interview
            </a>
        </p>
      </div>
  </div>
</div>


<div class="section"  id="banner3">
    <div class="container">
        <h4 class="banner-title">User of modern responsive front-end frameworks and libraries</h4>
    </div>
</div>

<div class="container tools">
    <h4 class="title">Tools</h4>
        <div class="dev-tools">
            <img src="/images/javascript.png" alt="javascript">
            <span class="caption">Javascript</span>
        </div>
        <div class="dev-tools">
            <img src="/images/angularjs.png" alt="angular">
            <span class="caption">Angular</span>
        </div>
        <div class="dev-tools">
            <img src="/images/jQuery.png" alt="jQuery">
            <span class="caption">jQuery</span>
        </div>
        <div class="dev-tools">
            <img src="/images/nodejs.png" alt="nodeJS">
            <span class="caption">Node.js</span>
        </div>
        <div class="dev-tools">
            <img src="/images/socketio.png" alt="socketio">
            <span class="caption">socket.io</span>
        </div>
        <div class="dev-tools">
            <img src="/images/sass.png" alt="Sass">
            <span class="caption">Sass</span>
        </div>
</div>
