<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item brand-logo" href="#!/home">
          <img src="/images/CV_logo.png">
        </a>
        <div class="navbar-burger" data-target="navMenu" ng-click="layoutVm.hamburgerToggle()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-end" ng-click="layoutVm.hamburgerToggle()">
            <a class="navbar-item" href="#!/home">Home</a>
            <a class="navbar-item" href="#!/work">Work</a>
            <a class="navbar-item" href="#!/connect">Connect</a>
        </div>
    </div>
</nav>
<div class="body-content" ui-view></div>

<footer class="footer">
  <div class="social">
          <a href="https://github.com/cv00132" title="GitHub" target="blank">
              <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/cory-vaughan/" title="LinkedIn" target="blank">
              <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/CoryVaughan13" title="Twitter" target="blank">
              <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </a>
          <a href="https://www.facebook.com/cory.vaughan.90" title="Facebook" target="blank">
              <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
          <a href="https://www.freecodecamp.com/cv00132" title="freeCodeCamp" target="blank">
              <i class="fa fa-free-code-camp fa-2x" aria-hidden="true"></i>
          </a>

    </div>
</footer>
