<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">CV</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#!/home">Home</a></li>
            <li><a href="#!/work">Work</a></li>
            <li><a href="#!/about">About</a></li>
        </ul>
        <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="500" data-closeonclick="false">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>
<div class="body-content" ui-view></div>

<footer class="page-footer">
    <div class="container">
        <h5>Contact</h5>
        <ul>
            <li>
                <a class="grey-text text-lighten-3" href="https://github.com/cv00132">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    GitHub
                </a>
            </li>
            <li>
                <a class="grey-text text-lighten-3" href="https://twitter.com/CoryVaughan13">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    Twitter
                </a>
            </li>
            <li>
                <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/cory-vaughan/">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    LinkedIn
                </a>
            </li>
            <li>
                <a class="grey-text text-lighten-3" href="https://www.freecodecamp.com/cv00132">
                    <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                    freeCodeCamp
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright">
        © 2017 CV Development
    </div>
</footer>
