<nav class="navbar navbar-menu is-transparent">
    <div class="navbar-brand navbar-start">
        <a class="navbar-item" href="http://bulma.io">
          <img src="http://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
    </div>
    <div class="navbar-end">
        <a class="navbar-item" href="#!/home">Home</a>
        <a class="navbar-item" href="#!/work">Work</a>
        <a class="navbar-item" href="#!/connect">Connect</a>
    </div>

    <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<div class="body-content" ui-view></div>

<footer class="footer">
  <div class="container">
        <h2 class="title">Connect</h2>
          <a class="subtitle" href="https://github.com/cv00132">
              <i class="fa fa-github fa-lg" aria-hidden="true"></i>
              GitHub
          </a>
          <a class="subtitle" href="https://www.linkedin.com/in/cory-vaughan/">
              <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
              LinkedIn
          </a>
          <a class="subtitle" href="https://twitter.com/CoryVaughan13">
              <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
              Twitter
          </a>
    </div>
  <div class="footer-copyright">
    Made using <a href="http://bulma.io">Bulma</a>
  </div>
</footer>
