<h1 id="project-title">Recent Projects</h1>

<div class="project-container">
    <div class="projects">
        <a href="">
            <img src="../images/Barkspark.png">
        </a>
    </div>
</div>
<p class="project-description">
    BarkSpark was designed with dog lovers in mind. The idea came about when I thought, "Why do first dates have to be so uncomfortable?" Then it hit me when I was at the dog park, why not bring along my dude, Earl, to help make me feel more at ease? And thus BarkSpark was born.
</p>

<div class="project-container">
    <div class="projects">
        <a href="">
            <img src="../images/Generalknowledge.png">
        </a>
    </div>
</div>
<p class="project-description">
    General Knowledge is a object-oriented trivia game with a military theme. Players choose a random category and then have 15sec to answer the question. Selected questions go away after they're chosen so choose wisely!
</p>

<div class="project-container">
    <div class="projects">
        <a href="">
            <img src="../images/Prost.png">
        </a>
    </div>
</div>
<p class="project-description">
    Prost! was one of my first big projects, as well as, the first time I worked with a partner. I learned a lot going through the design process and I realized that compromise is key when deciding which features to add, styles to use, and how all of it goes together.
</p>

<div class="project-container">
    <div class="projects">
        <a href="">
            <img src="../images/Vaughansongs.png">
        </a>
    </div>
</div>
<p class="project-description">
    Vaughan's Songs was a simple app created using Soundcloud's API. It was the first time I was given freedom to create a project with no boilerplate. Even though I only had a few days and I overhauled the design multiple time, I'm still very happy with how it turned out.
</p>
