<h1 id="project-title">Recent Projects</h1>

<section class="hero">
  <div class="hero-body">
    <div class="container projects">
      <a href="http://barkspark.surge.sh">
          <img src="../images/Barkspark.png" alt="Barkspark">
      </a>
      <h1 class="title">
        Barkspark
      </h1>
      <p class="project-description">
          BarkSpark was designed with dog lovers in mind. The idea arose from the lack of sites that connected dog owners to other dog owners. I love spending time with my hound and wanted a way to connect with others looking to meet with while spending time with their fur friends.
      </p>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container projects">
      <a href="http://generalknowledge.surge.sh/">
          <img src="../images/Generalknowledge.png" alt="General Knowledge">
      </a>
      <h1 class="title">
        General Knowledge
      </h1>
      <p class="project-description">
          General Knowledge is a military themed, object-oriented trivia game. Players choose a random category and then have 15sec to answer the question. Selected questions go away after they're chosen, so choose wisely!
      </p>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container projects">
      <a href="http://tiy-chriscoralli-restaurant-page.surge.sh">
          <img src="../images/Prost.png" alt="Prost!">
      </a>
      <h1 class="title">
        Prost!
      </h1>
      <p class="project-description">
          Prost! was one of my first big projects, as well as, the first time I worked with a partner. I learned a lot going through the design process and I realized that compromise is key when deciding which features to add, styles to use, and how all of it goes together.
      </p>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container projects">
      <img src="../images/Vaughansongs.png" alt="Vaughan Songs">
      <a href="#!"></a>
      <h1 class="title">
        Vaughan Songs
      </h1>
      <p class="project-description">
          Vaughan's Songs was a simple app created using Soundcloud's API. It was the first time I was given freedom to create a project with no boilerplate. Even though I only had a few days and I overhauled the design multiple time, I'm still very happy with how it turned out.
      </p>
    </div>
  </div>
</section>
