<h1 id="project-title">Recent Projects</h1>

<section class="hero">
  <div class="hero-body">
    <div class="container projects">
      <a href="http://barkspark.surge.sh">
          <img src="../images/Barkspark.png" alt="Barkspark">
      </a>
      <h1 class="title">
        Barkspark
      </h1>
      <p class="project-description">
          BarkSpark was designed with dog lovers in mind. The idea arose from the lack of sites that connected dog owners to other dog owners. I love spending time with my hound and wanted a way to connect with others looking to meet with while spending time with their fur friends.
      </p>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container projects">
      <a href="http://generalknowledge.surge.sh/">
          <img src="../images/Generalknowledge.png" alt="General Knowledge">
      </a>
      <h1 class="title">
        General Knowledge
      </h1>
      <p class="project-description">
          General Knowledge is a military themed trivia game built using object oriented programming. Players choose a random category and then have 15sec to answer the question. Selected questions go away after they're chosen, so choose wisely!
      </p>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container projects">
      <a href="http://tiy-chriscoralli-restaurant-page.surge.sh">
          <img src="../images/Prost.png" alt="Prost!">
      </a>
      <h1 class="title">
        Prost!
      </h1>
      <p class="project-description">
          Prost! is a responsive website designed for a German bierhaus. It uses AJAX to populate the menu, flickr API to pull in the photos, and Google Maps API to generate a localized map of the area. It was built in collaboration with a partner.
      </p>
    </div>
  </div>
</section>
